p {
  margin-bottom: 1.3rem;
}
p:last-child {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4 {
  margin-bottom: 1.3rem;
}
hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  margin: 1.3rem 0;
}

.hidden {
  visibility: hidden;
}

/* ------------------------------------------------------------ */

/* Alerts */
.alert-red .alert-close,
.alert-pink .alert-close,
.alert-purple .alert-close,
.alert-indigo .alert-close,
.alert-blue .alert-close,
.alert-cyan .alert-close,
.alert-teal .alert-close,
.alert-green .alert-close,
.alert-orange .alert-close,
.alert-brown .alert-close,
.alert-bgray .alert-close {
  color: #fff;
}
/* Red */
.alert-red {
  background-color: #e57373 !important;
  color: #fff !important;
}
/* Pink */
.alert-pink {
  background-color: #f06292 !important;
  color: #fff !important;
}
/* Purple */
.alert-purple {
  background-color: #ba68c8 !important;
  color: #fff !important;
}
/* Indigo */
.alert-indigo {
  background-color: #7986cb !important;
  color: #fff !important;
}
/* Blue */
.alert-blue {
  background-color: #64b5f6 !important;
  color: #fff !important;
}
/* Cyan */
.alert-cyan {
  background-color: #4dd0e1 !important;
  color: #fff !important;
}
/* Teal */
.alert-teal {
  background-color: #4db6ac !important;
  color: #fff !important;
}
/* Green */
.alert-green {
  background-color: #81c784 !important;
  color: #fff !important;
}
/* Orange */
.alert-orange {
  background-color: #ffb74d !important;
  color: #fff !important;
}
/* Brown */
.alert-brown {
  background-color: #a1887f !important;
  color: #fff !important;
}
/* Blue gray */
.alert-bgray {
  background-color: #90a4ae !important;
  color: #fff !important;
}

.alert {
  background-color: #eee;
  color: #000;
  border-radius: 0.3rem;
  padding: 0.4rem;
  opacity: 1;
  transition: opacity 0.4s;
}
.alert-close {
  margin-left: 1rem;
  color: #bbb;
  float: right;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.3rem;
  cursor: pointer;
}
.alert-close:hover {
  color: #000;
}

/* Desktop*/
@media (min-width: 1500px) {
}
@media (min-width: 1100px) and (max-width: 1500px) {
  .alerts {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .alerts {
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media (max-width: 900px) {
  .alerts {
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* Tablet Landscape */
@media only screen and (max-width: 1510px) and (orientation: landscape) {
  .alerts {
    padding-left: 10%;
    padding-right: 10%;
  }
  .alert {
    padding: 0.3rem;
  }

  .lds-ring {
    width: 2rem;
    height: 2rem;
  }
  .lds-ring div {
    width: 2rem;
    height: 2rem;
  }
}

/* Tablet portrait */
@media only screen and (max-width: 900px) and (orientation: portrait) {
  .alerts {
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 3.3rem;
  }
  .alert {
    padding: 0.6rem;
  }
}

/* Mobile */
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .alerts {
    padding-left: 5%;
    padding-right: 5%;
  }
  .alert {
    padding: 0.3rem;
  }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
  .alerts {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3rem;
  }
  .alert {
    padding: 0.3rem;
  }

  .lds-ring {
    width: 2rem;
    height: 2rem;
  }
  .lds-ring div {
    width: 2rem;
    height: 2rem;
  }
}
