:root {
  --gray: #a1a1a1;
  --lghtgray: #e6e6e6;
  --bckg: #ffffff;
  --bridge: #ffffff;
  --fntColor: #000000;

  --full: #ca1717;

  --fntWeight: 300;
}

.manual {
  display: flex;
  flex-direction: column;
  font-family: 'Handlee', cursive;
}
.manual-top-descript {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  margin: 0 1rem 0 1rem;
}

.buttons-box {
  display: flex;
}

.buttons-box img:hover {
  opacity: 1;
  cursor: pointer;
}

.buttons-box img {
  height: 30px;
  opacity: 0.5;
}

.edit-delete-box {
  margin-right: 15px;
}

.date-user-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  width: 10rem;
}
.btn-hidden {
  display: none;
}

.raport-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.show-anim {
  animation: fadeIn 0.6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dekl {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 35%;
}

.issues {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
}

.single-raport-info-grid {
  font-family: 'Roboto', sans-serif;
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.6rem;
  /* border: 0.1rem solid lightgray; */
  background-color: var(--lghtgray);
  width: 90%;
}

.raport-label {
  align-content: space-between;
  align-items: start;
  margin: 0.3rem;
  text-align: left;
}

.raport-label p {
  margin: 0;
  border-bottom: 0.1rem solid rgb(155, 155, 155);
  font-weight: 300;
  font-size: 1.6rem;
  text-align: right;
  align-content: center;
}

.raport-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: flex-start;
  margin: 0.3rem;
  font-size: 1rem;
  text-align: left;
}

.content-text {
  display: flex;
  flex-direction: column;
  margin: 0.3rem;
  font-size: 1rem;
  text-align: left;
}

.tresc-raportu,
.tresc-dekl {
  margin: 0;
}

.header {
  font-weight: 500;
}

.raport-circle-empty {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  font-size: 1.2rem;
  margin: 0.5rem;
  text-align: center;
  color: #000000;
  background: var(--empty);
  box-shadow: 0.1rem 0.1rem 0.6rem var(--glow);
}

.full {
  color: #ffffff;
  background: var(--full);
  box-shadow: 0.1rem 0.1rem 0.6rem var(--full);
  padding: 0;
}

.raport-detail-box {
  width: 73%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.raport-details {
  font-weight: 500;
}

.raport-data-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;
  width: calc(100% - 1.5rem);
  border-radius: 0.3rem 0.3rem 0 0;
  margin-left: 0.1rem;
  height: 30%;
}

.raport-data-user p {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.raport-regions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  padding: 0 1.6rem 0 1.6rem;
  /* height: 60%; */
}

.regio-circle-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.regions-headers {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  font-weight: var(--fntWeight);
  text-align: center;
  font-weight: 300;
  color: black;
}

.arrow {
  position: relative;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  margin-left: 2rem;
}

.arrow:hover {
  border: solid 0.1rem rgb(0, 0, 0);
  border-radius: 50%;
}

.arrow:before {
  position: absolute;
  display: block;
  content: '';
  color: rgb(0, 0, 0);
  width: 0.5rem;
  height: 0.5rem;
  border-top: solid 0.15rem;
  border-left: solid 0.15rem;
  top: 50%;
  left: 0.2rem;
  transform-origin: 0% 0%;
  transform: rotatez(-45deg);
}

.arrow:after {
  position: absolute;
  display: block;
  content: '';
  color: rgb(0, 0, 0);
  width: 1.5rem;
  top: 47%;
  border-bottom: solid 0.15rem;
  transform: translatex(0.3rem);
}

.arrow:hover:before {
  animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

.arrow:hover:after {
  animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

@keyframes aniArrow01 {
  0% {
    transform: rotatez(-45deg) translateY(30px) translateX(30px);
  }
  100% {
    transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
  }
}

@keyframes aniArrow02 {
  0% {
    transform: translateX(45px);
  }
  100% {
    transform: translateX(-44px);
  }
}

@keyframes borderAni {
  0% {
    border: solid 0.2rem rgb(0, 0, 0);
  }
  100% {
    border: solid 0.2rem rgb(0, 0, 0);
    border-radius: 50%;
  }
}

/* */

.slide-container {
  max-width: 65rem;
  width: 100%;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.slide-content {
  margin: 0 3rem;
  overflow: hidden;
}

.card {
  font-family: 'Roboto', sans-serif;
  color: var(--fntColor);
  border-radius: 0.4rem;
  box-sizing: border-box;
  height: 6.5rem;
  background-color: var(--lghtgray);
}

.card:hover .arrow {
  animation: change-color 0.1s 2;
}
.card:hover .arrow {
  animation: change-color 0.1s 2;
}
@keyframes change-color {
  0% {
    border: solid 0.1rem rgb(255, 255, 255);
    border-radius: 50%;
  }
  100% {
    border: solid 0.1rem rgb(0, 0, 0);
    border-radius: 50%;
  }
}

.selected {
  background-color: var(--gray);
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(182, 182, 182);
  top: 40%;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #000000;
}

.swiper-pagination-bullet-active {
  background: #000000;
}
.swiper-pagination {
  margin-top: 1.5rem;
  position: relative;
}

/* Desktop*/
@media (min-width: 1100px) and (max-width: 1500px) {
  .content-text {
    font-size: 1rem;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .content-text {
    font-size: 1rem;
  }
}

@media (min-width: 750px) and (max-width: 900px) {
  .content-text {
    font-size: 1rem;
  }
}

/* Tablet Landscape */
@media only screen and (max-width: 1510px) and (orientation: landscape) {
  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 4rem;
  }
  .user {
    font-size: 1rem;
  }
  .raport-data-user p {
    font-size: 0.8rem;
  }
  .raport-data-user {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    width: 70%;
    border-radius: 0.5rem 0.5rem 0 0;
    margin-left: 0.1rem;
    height: 90%;
  }
  .raport-detail-box {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .arrow {
    margin-left: 0.4rem;
  }

  .raport-regions {
    font-size: 0.6rem;
    padding: 0.1rem;
    height: 90%;
    width: 100%;
  }
  .regions-headers {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
  .raport-circle-empty {
    width: 1.4rem;
    height: 1.4rem;
    line-height: 1.5rem;
    font-size: 1rem;
    margin: 0.3rem;
  }
}

/* Tablet portrait */
@media only screen and (max-width: 900px) and (orientation: portrait) {
  .content-text {
    font-size: 0.8rem;
  }
  .user {
    font-size: 1rem;
  }
  .raport-data-user p {
    font-size: 1rem;
  }
  .arrow {
    margin-left: 1.5rem;
  }

  .card {
    height: 7rem;
  }
  .slide-container {
    width: 90%;
  }
}

/* Mobile */
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 3.3rem;
  }
  .user {
    font-size: 1rem;
  }
  .raport-content {
    flex-direction: column;
    justify-content: flex-start;
  }
  .content-text {
    font-size: 0.8rem;
  }
  .raport-data-user p {
    font-size: 0.9rem;
  }
  .raport-data-user {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    width: 70%;
    border-radius: 0.5rem 0.5rem 0 0;
    margin-left: 0.1rem;
    height: 90%;
  }
  .raport-detail-box {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .dekl {
    width: 100%;
    flex-direction: row;
  }
  .issues {
    width: 100%;
  }
  .raport-data-user p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
  .arrow {
    margin-left: 0.4rem;
  }

  .raport-regions {
    font-size: 0.6rem;
    padding: 0.1rem;
    height: 90%;
    width: 100%;
  }
  .regions-headers {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
  .raport-circle-empty {
    width: 1.4rem;
    height: 1.4rem;
    line-height: 1.5rem;
    font-size: 1rem;
    margin: 0.3rem;
  }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
  body {
    overflow: visible;
  }
  .user {
    font-size: 1rem;
  }

  .raport-data-user p {
    font-size: 1rem;
  }

  .content-text {
    font-size: 0.8rem;
  }
  .raport-label p {
    padding: 0.5rem;
    font-size: 1rem;
  }
  .raport-content {
    flex-direction: column;
    justify-content: flex-start;
  }
  .issues {
    width: 100%;
  }
  .dekl {
    width: 100%;
    flex-direction: row;
  }

  .card {
    height: 7rem;
  }

  .issues {
    width: 100%;
  }
  .slide-container {
    width: 100%;
  }
}
