:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #6b7280;
  --light: #eee;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --bckg: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  background: var(--bckg);
  background-color: var(--bckg);
  color: #5a5a5a;
  /* margin-top: 100px; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15%;
  padding-right: 15%;
  height: auto;
}

#form {
  width: 20rem;
  margin: 1.7rem 1.7rem 2.2rem 1.7rem;
  padding: 1.3rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
  /* border: 0.5px solid rgb(130, 130, 130) */
  -webkit-box-shadow: 0 0.3rem 2rem -0.3rem rgba(119, 120, 138, 1);
  -moz-box-shadow: 0 0.3rem 2rem -0.3rem rgba(119, 120, 138, 1);
  box-shadow: 0 0.3rem 2rem -0.3rem rgba(119, 120, 138, 1);
}

#form h1 {
  color: #0f2027;
  text-align: center;
}

#form p {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#form button {
  padding: 0.7rem;
  margin-top: 0.7rem;
  width: 100%;
  color: white;
  background-color: rgb(90, 134, 215);
  border: none;
  border-radius: 0.3rem;
}

#form button:hover {
  background-color: rgb(49, 97, 187);
}
#form button:active {
  background-color: rgb(41, 79, 149);
}

.show-passwrd {
  display: flex;
  align-items: center;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 0.05rem solid #c3c3c3;
  border-radius: 0.3rem;
  display: block;
  font-size: 0.9rem;
  padding: 0.7rem;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #a5dac3;
  border-width: 0.05rem;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 0.6rem;
  height: 0.9rem;
}

.response-error {
  color: #ff3860;
}

.loginSignup {
  display: grid;
  justify-content: end;
  padding: 0.2rem;
  color: rgb(41, 79, 149);
}

#form button {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.loginSignup-box {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.3rem;
}
.loginSignup-box p {
  padding: 0.2rem;
  margin: 0;
}
.loginSignup-box a {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(76, 128, 225);
}

.loginSignup-box a:hover {
  font-weight: 500;
  color: rgb(40, 89, 172);
  text-decoration: underline;
}

.resetPasswdBox {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.3rem;
}

.resetPasswdBox a {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(76, 128, 225);
}

.resetPasswdBox a:hover {
  font-weight: 500;
  color: rgb(40, 89, 172);
  text-decoration: underline;
}

.hidden-element {
  display: none;
}

/* Desktop*/
@media (min-width: 1500px) {
}
@media (min-width: 1100px) and (max-width: 1500px) {
}

@media (min-width: 900px) and (max-width: 1100px) {
}

@media (max-width: 900px) {
}

/* Tablet Landscape */
@media only screen and (max-width: 1300px) and (orientation: landscape) {
  .container {
    margin-top: 1rem;
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* Tablet portrait */
@media only screen and (max-width: 900px) and (orientation: portrait) {
  .container {
    margin-top: 1rem;
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* Mobile */
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .alerts {
    display: none;
  }
  .container {
    margin-top: 1rem;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
  .alerts {
    display: none;
  }
  .container {
    margin-top: 1rem;
    padding-left: 5%;
    padding-right: 5%;
  }
  #form {
    width: 16rem;
  }
}
