body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #5a5a5a;
  background-image: linear-gradient(
    -180deg,
    var(--base-light) 0%,
    var(--base-dark) 100%
  );
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15%;
  padding-right: 15%;
  height: auto;
  color: var(--font-color);
  --link-color: rgb(116, 204, 255);
  --link-color-hover: rgb(93, 176, 255);
  --err-input-color: rgb(255, 56, 96);
  --succ-input-color: rgb(165, 218, 195);
}

#form {
  width: 20rem;
  margin: 1.7rem 1.7rem 2.2rem 1.7rem;
  padding: 1.3rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
  background-color: #484848;
  box-shadow: 0 0 1rem 0 rgba(172, 172, 172, 0.5);
}

#form h1 {
  text-align: center;
}

#form p {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#form button {
  padding: 0.7rem;
  margin-top: 0.7rem;
  width: 100%;
  color: white;
  background-color: rgb(90, 134, 215);
  border: none;
  border-radius: 0.3rem;
}

#form button:hover {
  background-color: rgb(49, 97, 187);
}
#form button:active {
  background-color: rgb(41, 79, 149);
}

.show-passwrd {
  display: flex;
  align-items: center;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 0.05rem solid #c3c3c3;
  border-radius: 0.3rem;
  display: block;
  font-size: 0.9rem;
  padding: 0.7rem;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: var(--succ-input-color);
  border-width: 0.05rem;
}

.input-control.error input {
  border-color: var(--err-input-color);
}

.input-control .error {
  color: var(--err-input-color);
  font-size: 0.9rem;
  height: 0.9rem;
}
.error {
  display: flex;
  justify-content: flex-end;
}

.response-error {
  color: var(--err-input-color);
}

.loginSignup {
  display: grid;
  justify-content: end;
  padding: 0.2rem;
  color: rgb(41, 79, 149);
}

#form button {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.loginSignup-box {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3rem;
}
.loginSignup-box p {
  margin: 0;
}
.loginSignup-box a {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--link-color);
}

.loginSignup-box a:hover {
  font-weight: 500;
  color: var(--link-color-hover);
  text-decoration: underline;
}

.resetPasswdBox {
  display: flex;
  justify-content: space-between;
}

.resetPasswdBox a {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--link-color);
}

.resetPasswdBox a:hover {
  font-weight: 500;
  color: var(--link-color-hover);
  text-decoration: underline;
}

.hidden-element {
  display: none;
}

/* Desktop*/
@media (min-width: 1500px) {
}
@media (min-width: 1100px) and (max-width: 1500px) {
}

@media (min-width: 900px) and (max-width: 1100px) {
}

@media (max-width: 900px) {
}

/* Tablet Landscape */
@media only screen and (max-width: 1510px) and (orientation: landscape) {
  .container {
    margin-top: 1rem;
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* Tablet portrait */
@media only screen and (max-width: 900px) and (orientation: portrait) {
  .container {
    margin-top: 1rem;
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* Mobile */
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .alerts {
    display: none;
  }
  .container {
    margin-top: 1rem;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
  .alerts {
    display: none;
  }
  .container {
    margin-top: 1rem;
    padding-left: 5%;
    padding-right: 5%;
  }
  #form {
    width: 16rem;
  }
}
