.content {
  display: block;
  height: 100%;
  width: 100%;
  color: var(--font-color);
}

.slide-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 2.5rem;
}

.slide-form {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  padding: 0;
}

.raport-describe-label {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.registration-grid {
  font-family: 'Roboto', sans-serif;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 0.8rem;
}

.label-box {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2vh;
}

.label-box p {
  font-family: 'Roboto', sans-serif;
  padding: 0.5rem;
  margin: 0;
  font-weight: 500;
  font-size: 2rem;
}

.elements {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  height: 85%;
  margin-top: 2.5rem;
}
.regions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.1rem;
  width: 100%;
}

.checkbox-unit {
  display: grid;
  grid-template-columns: 2fr 6fr;
  background-color: var(--base-light);
  border-radius: 0.6rem;
  margin: 0.2rem;
  padding: 0.5rem;
}

.details {
  display: grid;
  grid-template-columns: 7fr 1fr;
}

.details-text > div {
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.details-text > div > div {
  padding: 0.2rem;
}

.details-text > div > div > textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  border-color: #bababa;
  resize: none;
  width: 90%;
  border-radius: 0.3rem;
  padding: 0.3rem;
}

.details button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
  font-size: 1.6rem;
  height: 2rem;
  width: 2rem;
  background-color: #9e9e9e;
  border-radius: 1.3rem;
  border: 0.2rem solid white;
}

.details button:hover {
  background-color: #ea4c4c;
}

.label {
  margin-top: 0.3rem;
}

.descript-box {
  display: flex;
}
.number-box {
  display: flex;
  align-items: flex-start;
}
.addBtnBox {
  display: flex;
}

.hidden > div > div:first-child {
  visibility: hidden;
}
.hidden > div > div:not(:first-child) {
  display: none;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  width: 90%;
}

.form-line {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 100%;
}

.label-container {
  display: flex;
  align-items: flex-start;
  position: sticky;
  padding-left: 2.5rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 60%;
}

.label-container input {
  margin-bottom: 0.2rem;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.open {
  transition: all 0.3s ease-in-out;
  min-height: 4rem;
}
.raport-describe:focus {
  animation-duration: 0.3s;
  animation-name: lineInserted;
  transition: height 0.3s;
}

.deklaracje {
  display: flex;
  flex-direction: column;
}

textarea {
  background: #d8d8d8;
}

.deklaracje-describe-areas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 85%;
}

.deklaracje-box {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  margin: 0.7rem;
  text-align: left;
}

.raport-describe-users {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  border-radius: 0.3rem;
  border-width: 0.05rem;
  border-style: solid;
  border-color: #bababa;
  width: 90%;
  height: 95%;
  padding: 0.7rem;
}

.plexi-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2.5rem;
}

.input-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 0.7rem;
}

.plexi-input-label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  margin: 0.3rem;
}

.plexi-input {
  height: 1.8rem;
  width: 4rem;
}

.submitField {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.submit {
  height: 3.2rem;
  width: 7rem;
  background-color: #ea4c4c;
  border-radius: 0.5rem;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  height: 2.5rem;
}

.submit:hover,
.submit:focus {
  background-color: #c22222;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  border-radius: 1rem;
  border: 0.2rem solid white;
}

.label-container:hover input ~ .checkmark {
  background-color: #9e9e9e;
}

.label-container input:checked ~ .checkmark {
  background-color: #ea4c4c;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.label-container input:checked ~ .checkmark:after {
  display: block;
}

.label-container .checkmark:after {
  left: 0.55rem;
  top: 0.3rem;
  width: 0.2rem;
  height: 0.5rem;
  border: solid white;
  border-width: 0 0.2rem 0.2rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(182, 182, 182);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: white;
}
.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet {
  background: rgb(168, 168, 168);
}
.swiper-pagination-bullet-active {
  background: white;
}

/* Desktop*/
@media (max-width: 1100px) {
  .deklaracje-describe-areas {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  .deklaracje-box {
    height: 30%;
  }
}

/* Tablet Landscape */
@media only screen and (max-width: 1510px) and (orientation: landscape) {
  .deklaracje-describe-areas {
    flex-direction: row;
  }
  .raport-describe {
    height: 90%;
  }
  .label-box {
    margin: 0;
  }
  .label-box p {
    padding: 0.2rem;
    font-size: 1.3rem;
    margin-right: 50px;
  }
  .elements {
    margin-top: 0.5rem;
  }
  .checkmark {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 0.2rem;
    margin-left: 0.1rem;
  }
  .label-container .checkmark:after {
    left: 9px;
    top: 5px;
  }
  .label {
    font-size: 1.3rem;
    margin-top: 0.4rem;
  }
}

/* Tablet portrait */
@media only screen and (max-width: 900px) and (orientation: portrait) {
  .deklaracje-describe-areas {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .checkmark {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 0.2rem;
    margin-left: 0.1rem;
  }
  .label-container .checkmark:after {
    left: 9px;
    top: 5px;
  }
  .label {
    font-size: 1.3rem;
    margin-top: 0.4rem;
  }
}

/* Mobile */
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .alerts {
    margin-top: 0.7rem;
  }
  /* .swiper-wrapper {
    height: 70vw;
    width: 10vw;
  } */

  .registration-grid {
    margin: 0;
    flex-direction: column;
    align-content: center;
  }
  .deklaracje-describe-areas {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .deklaracje-box {
    margin: 0.3rem;
    width: 30%;
    height: 80%;
  }

  .raport-describe-users {
    height: 80%;
  }

  .elements {
    margin-top: 1px;
  }
  .checkboxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    justify-items: center;
  }
  .checkmark {
    height: 1.2rem;
    width: 1.2rem;
    margin-top: 0.2rem;
    margin-left: 0.1rem;
  }
  .label-container .checkmark:after {
    left: 7px;
    top: 3px;
  }
  .label-container {
    margin-bottom: 0.3rem;
  }
  .slide-content {
    width: 90%;
  }

  .label-box p {
    padding: 0.2rem;
    font-size: 1rem;
    margin-right: 50px;
  }
  .form-line {
    height: 80%;
    width: 90%;
  }
  .plexi-box {
    margin-top: 0;
  }
  .submitField {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
  .label-box {
    margin-bottom: 0;
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: 40%;
  }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
  .registration-grid {
    margin: 0;
    flex-direction: column;
    align-content: center;
  }
  .deklaracje-describe-areas {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .deklaracje-box {
    margin: 0;
    width: 80%;
    height: 30%;
  }

  .raport-describe-users {
    height: 80%;
  }

  .swiper-wrapper {
    height: 75vh;
  }

  .elements {
    margin-top: 0.3rem;
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
  }
  .checkbox-unit {
    margin: 0.1rem;
    padding: 0.2rem;
  }

  .details-text > div {
    grid-template-columns: 2fr 6fr;
  }
  .details-text > div > div {
    padding: 0.1rem;
    margin: 0.1rem;
  }

  .label {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  .checkmark {
    height: 1.2rem;
    width: 1.2rem;
    margin-top: 0.3rem;
    margin-left: 0.3rem;
  }
  .label-container .checkmark:after {
    left: 7px;
    top: 3px;
  }
  .label-container {
    margin-bottom: 0.3rem;
    padding-left: 2rem;
  }
  .regions {
    display: block;
    width: auto;
  }
  .slide-content {
    margin: 0 0;
  }
  .label-box {
    margin: 0;
  }
  .label-box p {
    font-size: 1rem;
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: var(--swiper-navigation-top-offset, 80%);
  }
}
