:root {
  --gray: #6b7280;
  --base-light: #474747;
  --base-dark: #101010;
  --font-color: #e6e6e6;
  --red-circle: #ca171799;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--base-dark);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    -180deg,
    var(--base-light) 0%,
    var(--base-dark) 100%
  );
  margin: 0;
  --top-row-height: 4.5rem;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 92vh;
  padding-left: 8%;
  padding-right: 8%;
}

.content {
  display: grid;
  width: 70%;
  margin-top: 0.5rem;
}

.spinner-border {
  display: flex;
  justify-content: center;
}

.lds-ring {
  display: flex;
  justify-content: center;
  width: 4rem;
  height: 4rem;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  border: 0.5rem solid var(--gray);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--gray) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Tablet Landscape */
@media only screen and (min-width: 1001px) and (max-width: 1510px) and (orientation: landscape) {
  .container {
    padding-left: 10%;
    padding-right: 10%;
  }
  .content {
    width: 100%;
  }
}

/* Tablet Portrait */
@media only screen and (min-width: 900px) and (max-width: 1510px) and (orientation: portrait) {
  .container {
    padding-left: 7%;
    padding-right: 7%;
  }
  .content {
    width: 100%;
  }
}

/* Mobile Landscape */
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .content {
    width: 100%;
  }
}
/* Mobile Portrait */
@media only screen and (max-width: 899px) and (orientation: portrait) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .content {
    width: 100%;
  }
}
