REGISTRATION :root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #6b7280;

  --bckg: #ffffff;
  --bridge: #ffffff;
  --fntColor: #000000;
  --brdr: #1f1f1f;

  --full: #ca1717;
  --empty: #817c7c;
  --glow: #000000;

  --btn: #d2b43b;
  --border: #000000;
  --btnTxt: #030303;
  --fntWeight: 300;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--bckg);
  background-color: var(--bckg);
  color: #000000;
  --top-row-height: 4.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: calc(var(--vh, 1vh) * 80);
  padding-left: 8%;
  padding-right: 8%;
}

.content {
  display: grid;
  width: 70%;
}

.alerts {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 200;
  margin-top: 5rem;
}

.spinner-border {
  display: flex;
  justify-content: center;
}

.lds-ring {
  display: flex;
  justify-content: center;
  width: 4rem;
  height: 4rem;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  border: 0.5rem solid var(--gray);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--gray) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Desktop*/
@media (min-width: 1100px) {
  .container,
  .alerts {
    padding-left: 20%;
    padding-right: 20%;
  }
  .content {
    width: 100%;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .container,
  .alerts {
    padding-left: 15%;
    padding-right: 15%;
  }
  .content {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .container,
  .alerts {
    padding-left: 10%;
    padding-right: 10%;
  }
  .content {
    width: 100%;
  }
}

/* Tablet Landscape */
@media only screen and (max-width: 1300px) and (orientation: landscape) {
  .lds-ring {
    width: 2rem;
    height: 2rem;
  }
  .lds-ring div {
    width: 2rem;
    height: 2rem;
  }
  .container,
  .alerts {
    padding-left: 10%;
    padding-right: 10%;
  }
  .content {
    width: 100%;
  }
}

/* Tablet portrait */
@media only screen and (max-width: 900px) and (orientation: portrait) {
  .container,
  .alerts {
    padding-left: 7%;
    padding-right: 7%;
  }
  .content {
    width: 100%;
  }
  .alerts {
    margin-top: 2.3rem;
  }
}

/* Mobile */
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .container,
  .alerts {
    padding-left: 5%;
    padding-right: 5%;
  }

  .content {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
  .lds-ring {
    width: 2rem;
    height: 2rem;
  }
  .lds-ring div {
    width: 2rem;
    height: 2rem;
  }
  .container,
  .alerts {
    padding-left: 5%;
    padding-right: 5%;
  }
  .alerts {
    margin-top: 2.3rem;
  }

  .content {
    width: 100%;
  }
}
