:root {
  --bckg: #ffffff;
}

.container {
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  justify-content: flex-start;
}
.container,
.alerts {
  padding-left: 10%;
  padding-right: 10%;
}
.searching {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  padding: 0.7rem;
  width: 100%;
}

.labelBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.7rem;
  padding: 0.7rem;
}

.labelBox h2 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0.1rem;
}

.chart-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30vh;
  width: 100%;
}

.chart {
  width: 100%;
  display: flex;
  flex-grow: 1;
  min-height: 20rem;
  max-height: 32rem;
}

.place {
  /* width: 20%; */
  margin: 0.7rem;
  display: flex;
  flex-direction: column;
}
.place p {
  margin: 0.2rem;
}

.raport {
  cursor: pointer;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.raport:hover {
  background-color: rgb(201, 201, 201);
}

/* Desktop*/
@media (min-width: 1500px) {
}
@media (min-width: 1100px) and (max-width: 1500px) {
  .container {
    font-size: 0.8rem;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .container {
    font-size: 0.8rem;
  }
}

@media (max-width: 900px) {
  .container {
    font-size: 0.7rem;
  }
}

/* Tablet Landscape */
@media only screen and (max-width: 1400px) and (orientation: landscape) {
  .container {
    font-size: 1rem;
  }
  .chart-area {
    height: 50vh;
  }
}

/* Tablet portrait */
@media only screen and (max-width: 900px) and (orientation: portrait) {
  .container,
  .alerts {
    padding-left: 7%;
    padding-right: 7%;
  }
  .container {
    font-size: 1rem;
  }
}

/* Mobile */
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .container,
  .alerts {
    padding-left: 5%;
    padding-right: 5%;
  }
  .chart-area {
    height: 90vh;
  }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
  .container,
  .alerts {
    padding-left: 5%;
    padding-right: 5%;
  }
  .chart-area {
    height: 35vh;
  }
}
