:root {
  --bckg: #ffffff;
  --mobile-labelBox-padding: 5px;
  --labelBox-padding: 3px;
}

.container {
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  justify-content: flex-start;
}
.statistics {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.place {
  width: 33%;
  margin: 10px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.labelBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
  width: calc(100% - var(--labelBox-padding) * 2);
  background-color: #767676;
  border-radius: 5px 5px 0 0;
  padding: var(--labelBox-padding);
  color: white;
}

.labelBox h2,
h3 {
  margin: 2px;
}

.labelBox :first-child {
  margin-left: 10px;
}
.labelBox :last-child {
  margin-right: 10px;
}

.elemBox {
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  margin: 2px;
}
.elem-style:nth-child(1) {
  width: 45%;
  cursor: pointer;
  text-align: left;
}
/* .elem-style:nth-child(2){
    width: 30%;
} */
.elem-style:nth-child(3) {
  width: 20%;
  text-align: right;
}

.elem-style:nth-child(1):hover {
  text-decoration: underline;
}
.users {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding: 10px;
  margin: 10px; */
  width: 100%;
}

.users h4,
p {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.user {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  margin-right: 10px;
}
.user-style-label {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #767676;
  padding: 3px;
  border-radius: 5px 5px 0 0;
}
.user-style {
  display: flex;
  justify-content: center;
  width: 65px;
  margin: 2px;
  margin: 5px;
  padding: 5px;
}

.chart-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(40vh - 30px);
  width: 100%;
}

.chart {
  width: 100%;
  display: flex;
  flex-grow: 1;
  min-height: 250px;
  max-height: 400px;
}

/* Display max 750px */
@media (max-width: 750px) {
  .elemBox {
    width: 90%;
    padding-left: 2px;
    padding-right: 2px;
  }
  .labelBox {
    flex-direction: column;
  }
  .labelBox :first-child {
    margin: 2px;
  }
  .labelBox :last-child {
    margin: 2px;
  }
}

/* Tablet */
@media only screen and (max-device-width: 1100px) {
  .container {
    font-size: 14px;
  }
}

/* Tablet small */
@media only screen and (max-device-width: 900px) {
  .container {
    font-size: 12px;
  }
}

/* Mobile landscape */
@media only screen and (max-device-width: 1100px) and (orientation: landscape) {
  .container {
    font-size: 12px;
  }
  .chart-area {
    height: calc(70vh - 30px);
  }
  .user-style-label,
  .labelBox {
    padding: var(--mobile-labelBox-padding);
    width: calc(100% - var(--mobile-labelBox-padding) * 2);
  }
  .users,
  .statistics {
    margin: 0;
    padding: 0;
  }
}

/* Mobile */
@media only screen and (max-device-width: 750px) and (orientation: portrait) {
  .container {
    font-size: 11px;
  }
  .labelBox h2,
  h4,
  p {
    font-size: 10px;
  }
  .labelBox {
    padding: var(--mobile-labelBox-padding);
    width: calc(100% - var(--mobile-labelBox-padding) * 2);
  }
  .elemBox {
    padding-left: 3px;
    padding-right: 3px;
    width: 95%;
  }
  .place {
    margin: 3px;
  }
  .user-style {
    margin: 0;
    padding: 0;
  }

  .user-style-label {
    padding: 5px;
  }
  .users h4 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .users,
  .statistics {
    margin: 2px;
    padding: 2px;
  }
}
