:root {
  --bckg: #ffffff;
}

.container {
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  justify-content: flex-start;
}
.statistics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.place {
  width: 29%;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: stretch;
  border-radius: 0.3rem;
  background-color: #eeeeee6e;
  box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.2);
}

.place-wide {
  width: 95%;
}

.labelBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
  margin-bottom: 0.7rem;
  background-color: #767676;
  border-radius: 0.3rem 0.3rem 0 0;
  color: white;
}

.labelBox h2,
h3 {
  margin: 0.2rem;
}

.labelBox :first-child {
  margin-left: 0.7rem;
}
.labelBox :last-child {
  margin-right: 0.7rem;
}

.elemBox {
  width: calc(100% - 2.5rem);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin: 0.2rem;
}
.elem-style:nth-child(1) {
  width: 45%;
  cursor: pointer;
  text-align: left;
}
/* .elem-style:nth-child(2){
    width: 30%;
} */
.elem-style:nth-child(3) {
  width: 20%;
  text-align: right;
}

.elem-style:nth-child(1):hover {
  text-decoration: underline;
}
.departments {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.users {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 45%;
}

.users h4,
p {
  margin: 0;
  margin-bottom: 0.3rem;
}

.user {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 0.3rem;
  box-shadow: 0px 0.3rem 0.3rem 0px rgba(0, 0, 0, 0.3);
  margin-right: 0.7rem;
}
.user-style-label {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #767676;
  padding: 0.3rem;
  border-radius: 0.3rem 0.3rem 0 0;
}
.user-style {
  display: flex;
  justify-content: center;
  width: 3rem;
  margin: 0.2rem;
  margin: 0.3rem;
  padding: 0.3rem;
}

.labelBoxChart {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  margin: 0;
}

.labelBoxChart h2,
h4 {
  margin: 0.1rem;
  margin-right: 0.3rem;
  text-align: right;
}
.labelBoxChart h4 {
  font-weight: 300;
}

.chart-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* height: 100%; */
  width: 100%;
}

.chart-linear {
  width: 100%;
  display: flex;
  flex-grow: 1;
  min-height: 15rem;
}

.chart-doughnut {
  width: 100%;
  display: flex;
  flex-grow: 1;
  min-height: 8rem;
  justify-content: flex-start;
}

.chart-bar {
  width: 100%;
  display: flex;
  flex-grow: 1;
  min-height: 8rem;
  justify-content: center;
}

.container,
.alerts {
  padding-left: 10%;
  padding-right: 10%;
}

/* Desktop*/

@media (min-width: 1100px) {
  .container {
    font-size: 0.8rem;
  }
  .users {
    width: 29%;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .container {
    font-size: 0.8rem;
  }
  .place {
    width: 100%;
  }
  .users {
    width: 45%;
  }
}

@media (max-width: 900px) {
  .place {
    width: 100%;
  }
  .users {
    width: 45%;
  }
  .container {
    font-size: 0.7rem;
  }
  .elemBox {
    width: 90%;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }
  .labelBox {
    flex-direction: column;
  }
  .labelBox :first-child {
    margin: 0.1rem;
  }
  .labelBox :last-child {
    margin: 0.1rem;
  }
  .users {
    width: 100%;
  }
}

/* Tablet Landscape */
@media only screen and (hover: none) and (pointer: coarse) and (max-width: 1300px) and (orientation: landscape) {
  .container {
    font-size: 1rem;
  }
  .users {
    width: 45%;
  }
  .chart-area {
    height: 30vh;
  }
}

/* Tablet portrait */
@media only screen and (hover: none) and (pointer: coarse) and (max-width: 900px) and (orientation: portrait) {
  .container,
  .alerts {
    padding-left: 7%;
    padding-right: 7%;
  }
  .container {
    font-size: 1rem;
  }
  .users {
    width: 45%;
  }
}

/* Mobile */
@media only screen and (hover: none) and (pointer: coarse) and (max-width: 1000px) and (orientation: landscape) {
  .container,
  .alerts {
    padding-left: 5%;
    padding-right: 5%;
  }
  .container {
    font-size: 0.9rem;
  }
  .chart-area {
    height: 90vh;
  }
  .users,
  .statistics {
    margin: 0;
    padding: 0;
  }
  .users {
    width: 100%;
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (max-width: 500px) and (orientation: portrait) {
  .container,
  .alerts {
    padding-left: 5%;
    padding-right: 5%;
  }
  .container {
    font-size: 0.8rem;
  }
  .chart-area {
    height: 25vh;
  }
  .labelBox h2,
  h4,
  p {
    font-size: 0.7rem;
  }
  .elemBox {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    width: 95%;
  }
  .place {
    margin: 0.2rem;
  }
  .user-style {
    margin: 0;
    padding: 0;
  }

  .user-style-label {
    padding: 0.3rem;
  }
  .users h4 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .users,
  .statistics {
    margin: 0.2rem;
    padding: 0.2rem;
  }
  .users {
    width: 100%;
  }
}
