:root {
  --bckg: #ffffff;
  --h2size: 1.3rem;
  --h4size: 1rem;
}

.container {
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  justify-content: flex-start;
}

.departments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.statistics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.users {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 45%;
  margin-top: 1rem;
}

.departments h2,
.statistics h2,
.users h2 {
  font-weight: 400;
  font-size: var(--h2size);
  margin: 0.1rem;
  margin-right: 0.7rem;
  text-align: right;
}
.departments h4,
.statistics h4,
.users h4 {
  font-weight: 300;
  font-size: var(--h4size);
  margin: 0.1rem;
  margin-top: 0.3rem;
  margin-right: 0.7rem;
  text-align: right;
}

.place {
  width: 32%;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 0.3rem;
  background-color: #eeeeee6e;
  box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.2);
}

.place-wide {
  width: 100%;
}

.user {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 0.3rem;
  box-shadow: 0px 0.3rem 0.3rem 0px rgba(0, 0, 0, 0.3);
  margin-right: 0.7rem;
}

.labelBoxChart {
  display: flex;
  flex-direction: row;
  margin: 0;
  h2 {
    font-size: var(--h2size);
  }
  h4 {
    font-size: var(--h4size);
  }
}

.chart-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.chart-linear {
  width: 100%;
  display: flex;
  flex-grow: 1;
  min-height: 13vh;
  max-height: 16vh;
}

.chart-doughnut {
  width: 100%;
  display: flex;
  flex-grow: 1;
  min-height: 13vh;
  max-height: 16vh;
  justify-content: flex-start;
}

.chart-bar {
  width: 100%;
  display: flex;
  flex-grow: 1;
  min-height: 8rem;
  justify-content: center;
}

.container,
.alerts {
  padding-left: 10%;
  padding-right: 10%;
}

/* Desktop*/

@media (min-width: 1100px) {
  .container {
    font-size: 0.8rem;
  }
  .users {
    width: 32%;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .container {
    font-size: 0.8rem;
  }
  .statistics {
    margin-top: 0;
  }
  .place {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .users {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .statistics {
    margin-top: 0;
  }
  .place {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .users {
    width: 100%;
  }
}

/* Tablet Landscape */
@media only screen and (max-width: 1510px) and (orientation: landscape) {
  .container {
    font-size: 1rem;
  }
  .users {
    width: 45%;
  }
  .chart-area {
    height: 30vh;
  }
  .chart-linear {
    min-height: 27vh;
    max-height: 30vh;
  }
  .chart-doughnut {
    min-height: 22vh;
    max-height: 25vh;
  }
}

/* Tablet portrait */
@media only screen and (max-width: 900px) and (orientation: portrait) {
  .container,
  .alerts {
    padding-left: 7%;
    padding-right: 7%;
  }
  .users {
    width: 45%;
  }
}

/* Mobile */
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .container,
  .alerts {
    padding-left: 5%;
    padding-right: 5%;
  }
  .chart-area {
    height: 90vh;
  }
  .users,
  .place {
    width: 100%;
  }
  .chart-linear {
    min-height: 85vh;
    max-height: 90vh;
  }
  .chart-doughnut {
    min-height: 80vh;
    max-height: 85vh;
  }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
  .container,
  .alerts {
    padding-left: 5%;
    padding-right: 5%;
  }

  .chart-area {
    height: 16vh;
  }
  .users,
  .place {
    width: 100%;
  }
  .chart-doughnut {
    min-height: 10vh;
    max-height: 12vh;
  }
}
