:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;

    --bckg: #000000;
    --bridge: #efefef;
    --fntColor: #5b5b5b;
    --brdr: #ffffff;

    --full: #d95c5c;
    --empty: #c0c0c0;
    --glow: #EEE;

    --btn: #b5b5b5;
    --btnTxt: #030303;
}


/* Mobile */
@media (max-width:600px) {

    .chart {
        width: 380;
        padding: 10px;
        margin-top: 5px;
        border-radius: 10px;
        background-color: var(--bckg);
        /* background-image: linear-gradient(45deg, var(--cui-info-start, #29cc8e) 0%, var(--cui-info-stop, #27c076 100%)); */
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
        text-align: center;
    }

}



/* Tablet */
/* Tablet */
@media (min-width:600px) {
    .chart {
        width: 600;
        height: auto;
        padding: 10px;
        margin-top: 5px;
        border-radius: 10px;
        background-color: var(--bckg);
        /* background-image: linear-gradient(45deg, var(--cui-info-start, #29cc8e) 0%, var(--cui-info-stop, #27c076 100%)); */
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
        text-align: center;
    }
}



/* Desktop */
@media (min-width:900px) {
    .chart {
        width: 1000;
        height: auto;
        padding: 10px;
        margin-top: 5px;
        border-radius: 10px;
        background-color: var(--bckg);
        /* background-image: linear-gradient(45deg, var(--cui-info-start, #29cc8e) 0%, var(--cui-info-stop, #27c076 100%)); */
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
        text-align: center;
    }


}