:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --hrefHover: #6792e8;
    --href: #5c69f6;
    --bckg: #000000;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--bckg);
    background-color: var(--bckg);
    color: #5a5a5a;
  }

 .error{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10rem;
    display: grid;
    justify-content: center;
    color: #EEE;
 }

 .error a{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--href);
 }

 .error a:hover{
    text-decoration: underline;
    font-weight: 600;
    color: var(--hrefHover)
 }