:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;

    --bckg: #ffffff;
    --bridge: #ffffff;
    --fntColor: #000000;
    --brdr: #1f1f1f;

    --full: #ca1717;
    --empty: #817c7c;
    --glow: #000000;

    --btn: #d2b43b;
    --border: #000000;
    --btnTxt: #030303;
    --fntWeight: 300;
}

body{
    overflow: hidden;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0 90px 0 90px;
}



.raport-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.show-anim{
    animation: fadeIn 0.6s;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.dekl{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 35%;
}

.issues{
    display: flex;
    flex-direction: column;
    width: 65%;
}


.single-raport-info-grid {
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem;
    background-color: #ffffff;
    max-width: 90%;
    /* margin-bottom: 0.8rem; */
}

.raport-label {
    align-content: space-between;
    align-items: start;
    margin: 0.3rem;
    font-size: 15px;
    text-align: left;
}

.raport-label p{
    padding: 5px;
    margin: 0px;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 20px;
    color: #FFF;
    background-color: #6B7280;
    /* background: url(../static/images/backbround.jpg), rgba(255, 255, 255, 0.1); */
    text-align: center;
    align-content: center;
}


.raport-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: flex-start;
    margin: 0.3rem;
    /* margin-right: 3rem; */
    font-size: 15px;
    text-align: left;
}

.tresc-raportu,
.tresc-dekl{
    margin: 0;
}

.raport-circle-empty {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 13px;
    margin: 5px;
    text-align: center;
    color: #000000;
    background: var(--empty);
    box-shadow: 1px 1px 7px var(--glow);
}

.full {
    color: #ffffff;
    background: var(--full);
    box-shadow: 1px 1px 7px var(--full);
    padding: 0px;
}





.card:hover .raport-details {
    font-weight: 300;
}


.card:hover .raport-btn {
    border-color: #000000;
    color: var(--btn);
    background-color: rgb(0, 0, 0);
    font-size: 14;
}


















.raport-data-user {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    margin: 0.3rem;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    padding: 2px 10px 2px 10px;
    height: 30%;
}

.raport-data-user p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.raport-regions {
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-align: center;
    padding: 0px 20px 0px 20px;
    height: 60%;

}

.regio-circle-box {
    max-height: 35px;
    justify-items: center;
    align-items: start;
    display: grid;
}

.regions-headers {
    display: flex;
    flex-direction: column;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    font-weight: var(--fntWeight);
    text-align: center;
    font-weight: 300;
}

.arrow {
    position:relative;
    width:30px;
    height: 30px;
    cursor:pointer;
    transition:0.5s;
    overflow:hidden;
    margin-left: 30px;
}

.arrow:hover{
    border:solid 1px rgb(0, 0, 0); 
    border-radius:50%;
}
.arrow:after{
    position:absolute;
    display:block;
    content:"";
    color:rgb(0, 0, 0);
    width: 20px;
    height: 15px;
/*   border:solid 1px;  */
    top:-1px;
    border-bottom:solid 2px;
    transform:translatex(4px);
}

.arrow:before{
    position:absolute;
    display:block;
    content:"";
    color:rgb(0, 0, 0);
    width: 8px;
    height: 8px;
/*   border:solid 1px;  */
    border-top:solid 2px;
    border-left:solid 2px;
    top:50%;
    left:2px;
    transform-origin:0% 0%;
    transform:rotatez(-45deg);

}
.arrow:hover:before{
    animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

.arrow:hover:after{
    animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}


@keyframes aniArrow01 {
    0% {
    transform:rotatez(-45deg) translateY(30px) translateX(30px);
    }
    100% {
    transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
    }
}


@keyframes aniArrow02 {
    0% {
    transform:translateX(45px);
    }
    100% {
    transform:translateX(-44px);
    }
}

@keyframes borderAni{
    0% {
    border:solid 2px rgb(0, 0, 0);
    }
    100% {    
    border:solid 2px rgb(0, 0, 0); 
    border-radius:50%;
    }
}



/* */


.slide-container {
    max-width: 1000px;
    width: 100%;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}


.slide-content{
    margin: 0px 50px;
    overflow: hidden;
}

.card {
    font-family: 'Roboto', sans-serif;
    color: var(--fntColor);
    border-radius: 0.4rem;
    box-shadow: inset 0px 0px 0px 1px rgb(221, 221, 221);
    box-sizing: border-box;
    background-color: var(--bridge);
    height: 120px;
}

.selected{
    background-color: #b9b9b9a6;
}


.swiper-button-prev, .swiper-button-next {
    color:rgb(182, 182, 182);
}

.swiper-button-prev:hover, .swiper-button-next:hover{
    color:#000000
}

.swiper-pagination-bullet-active {
    background: #000000;
}
.swiper-pagination{
    margin-top: 20px;
    position: relative;
}



/* Tablet */
@media (max-width: 1100px) and (min-width: 901px) {
    .raport-text{
        font-size: 14px;
    }
    .raport-data-user p {
        font-size: 14px;
    }
    .arrow {
        margin-left: 27px;
    }
    .slide-container{
        width: 80%;
    }
}


/* Tablet small */
@media (max-width: 900px) and (min-width: 751px) {
    .raport-text{
        font-size: 13px;
    }
    .raport-data-user p {
        font-size: 13px;
    }
    .arrow {
        margin-left: 25px;
    }

    
}



/* Mobile */
@media (max-width:750px) {
    body{
        overflow: visible;
    }
    .raport-text{
        font-size: 12px;
    }
    .slide-container{
        width: 70%;
    }
    .raport-content {
        flex-direction: column;
        justify-content: flex-start;
    }
    .issues{
        width: 100%
    }
    .dekl{
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .issues{
        width: 100%;
    }
}
















