:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;

    --bckg: #ffffff;
    --bridge: #ffffff;
    --fntColor: #000000;
    --brdr: #1f1f1f;

    --full: #ca1717;
    --empty: #817c7c;
    --glow: #000000;

    --btn: #d2b43b;
    --border: #000000;
    --btnTxt: #030303;
    --fntWeight: 300;
}

#cont ul {
    padding: 0;
}




.content{
    display: flex;
    flex-direction:column;
    height: 70%;
    /* background: radial-gradient(circle, rgba(221,221,221,1) 73%, rgba(255,255,255,1) 100%); */
}


.user{
    display: flex;
    justify-content: flex-end;
}


.raport-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.show-anim{
    animation: fadeIn 1s;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.dekl{
    display: flex;
    width: 50%;
}

.issues{
    display: flex;
    flex-direction: column;
    width: 50%;

}

.user-label{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.single-raport-info-grid {
    font-family: 'Roboto', sans-serif;
    /* border-style: solid;
    border-color: #c1c1c1;
    border-width: 0.1rem;
    border-radius: 0.2rem; */
    padding: 0.5rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    /* box-shadow: 2px 2px 7px var(--darkest); */
    background-color: #ffffff;
    min-width: 14rem;
    max-width: 40rem;
    margin-bottom: 0.8rem;
}

.raport-label {
    /* display: grid; */
    align-content: space-between;
    align-items: start;
    margin: 0.3rem;
    /* border-right: solid 0.5px var(--border); */
    font-size: 15px;
    text-align: left;
    min-width: 90px;
}

.raport-label p{
    padding: 5px;
    margin: 0px;
    border: #000000;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 20px;
    /* color: #FFF; */
    /* background-color: #030303; */
    text-align: center;
    align-content: center;
}

.header {
    font-weight: 700;
}

.raport-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: flex-start;
    margin: 0.3rem;
    /* margin-right: 3rem; */
    font-size: 15px;
    text-align: left;
}

.tresc-raportu{
    margin: 0;
}

.raport-circle-empty {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 13px;
    margin: 5px;
    text-align: center;
    color: #000000;
    background: var(--empty);
    box-shadow: 1px 1px 7px var(--glow);
}

.full {
    color: #ffffff;
    background: var(--full);
    box-shadow: 1px 1px 7px var(--full);
    padding: 0px;
}


.raport-data-user p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


.card:hover .raport-details {
    font-weight: 300;
}


.card:hover .raport-btn {
    border-color: #000000;
    color: var(--btn);
    background-color: rgb(0, 0, 0);
    font-size: 14;
}















.slide-container {
    height: 20%;
    max-width: 1100px;
    width: 100%;
    padding: 15px 0;
}


.slide-content{
    margin: 10px 50px;
    /* overflow: hidden; */
}

.card {
    font-family: 'Roboto', sans-serif;
    color: var(--fntColor);
    border-radius: 0.4rem;
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px;
    background-color: var(--bridge);
    height: 150px;
}

.selected{
    background-color: #e6e6e6;
}



.raport-data-user {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    margin: 0.3rem;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    padding: 10px 20px 15px 20px;

}

.raport-regions {
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-align: center;
    padding: 0px 20px 20px 20px;

}

.regio-circle-box {
    max-height: 35px;
    justify-items: center;
    align-items: start;
    display: grid;
}

.regions-headers {
    display: flex;
    flex-direction: column;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    font-weight: var(--fntWeight);
    text-align: center;
    font-weight: 300;
}

.arrow {
    position:relative;
    width:30px;
    height: 30px;
    cursor:pointer;
    transition:0.5s;
    overflow:hidden;
    margin-left: 30px;
}

.arrow:hover{
    border:solid 1px rgb(0, 0, 0); 
    border-radius:50%;
}
.arrow:after{
    position:absolute;
    display:block;
    content:"";
    color:rgb(0, 0, 0);
    width: 20px;
    height: 15px;
/*   border:solid 1px;  */
    top:-1px;
    border-bottom:solid 2px;
    transform:translatex(4px);
}

.arrow:before{
    position:absolute;
    display:block;
    content:"";
    color:rgb(0, 0, 0);
    width: 8px;
    height: 8px;
/*   border:solid 1px;  */
    border-top:solid 2px;
    border-left:solid 2px;
    top:50%;
    left:2px;
    transform-origin:0% 0%;
    transform:rotatez(-45deg);

}
.arrow:hover:before{
    animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

.arrow:hover:after{
    animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}


@keyframes aniArrow01 {
    0% {
    transform:rotatez(-45deg) translateY(30px) translateX(30px);
    }
    100% {
    transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
    }
}


@keyframes aniArrow02 {
    0% {
    transform:translateX(45px);
    }
    100% {
    transform:translateX(-44px);
    }
}

@keyframes borderAni{
    0% {
    border:solid 2px rgb(0, 0, 0);
    }
    100% {    
    border:solid 2px rgb(0, 0, 0); 
    border-radius:50%;
    }
}

.swiper-button-prev, .swiper-button-next {
    color:rgb(182, 182, 182);
}

.swiper-button-prev:hover, .swiper-button-next:hover{
    color:#000000
}

.swiper-pagination-bullet-active {
    background: #000000;
}



/* Tablet */
@media (max-width:1050px) {
    .raport-text{
        font-size: 14px;
    }

}


/* Mobile */
@media (max-width:700px) {
    .raport-text{
        font-size: 12px;
    }

}















