/* REGISTRATION */
:root {
  --dark: #374151;
  --darker: #1F2937;
  --darkest: #111827;
  --gray: #6B7280;
  --light: #EEE;
  --pink: #EC4899;
  --purple: #8B5Cf6;
  --bckg: #ffffff;
}

.container {
  display: block;
  padding-left: 8%;
  padding-right: 8%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
}

/* .content{
  margin-top: 80px
} */

.slide-form{
  max-width: 1000px;
  width: 100%;
  padding: 0;
}

.raport-describe-label{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}



.registration-grid {
  font-family: 'Roboto', sans-serif;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  background-color: #ffffff;
  min-height: 20rem;
  margin-bottom: 0.8rem;
  margin-top: 40px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 0px;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
  color: #FFF;
  background-color: #6B7280;
}

.elements{
  display: flex;
  flex-direction: row;
  width: 80%;
}
.regions {
  display: flex;
  flex-direction: column;
  margin: 0.1rem;
  width: 30%;
}

.checkboxes{
  margin-top: 40px;
}

.form-line{
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-top: 40px;
}

.label-container {
  display: flex;
  position: sticky;
  padding-left: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 4rem;
}

.label-container input {
  margin-bottom: 2px;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.raport-describe{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  border-radius: 5px;
  border-width: 0.5px;
  border-style: solid;
  border-color: #bababa;
  width: 70%;
  padding: 10px;
}

.raport-describe-users{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  border-radius: 5px;
  border-width: 0.5px;
  border-style: solid;
  border-color: #bababa;
  width: 90%;
  padding: 10px;
}

.deklaracje{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.deklaracje-describe-areas{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.deklaracje-box{
  margin: 10px
}

.plexi-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 40px;
}







.submitField{
  display: flex;
  justify-content: center;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
}


.submit {
  height: 50px;
  width: 100px;
  background-color: #ea4c4c;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit:hover,
.submit:focus {
  background-color: #c22222;
}



.checkmark {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

.label-container:hover input~.checkmark {
  background-color: #ccc;
}

.label-container input:checked~.checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.label-container input:checked~.checkmark:after {
  display: block;
}

.label-container .checkmark:after {
  left: 5px;
  top: 3px;
  width: 2px;
  height: 5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.swiper-button-prev, .swiper-button-next {
  color:rgb(182, 182, 182);
}

.swiper-button-prev:hover, .swiper-button-next:hover{
  color:#000000
}
.swiper-pagination{
  position: static;
}
.swiper-pagination-bullet-active {
  background: #000000;
}




/* Mobile */
@media (max-width:750px) {
  /* body{
      overflow: visible;
  } */
  .container{
    margin-top: 20px;
  }
  .registration-grid{
    margin:0;
    flex-direction: column;
    align-content: center; 
  }
  .deklaracje-describe-areas{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .deklaracje-box{
    width: 80%;
  }
  .raport-describe{
    width: 100%;
  }
  .raport-describe-users{
    height: 150px;
  }

}

@media (max-width:550px) {
 .elements{
  flex-direction: column;
 }
 .form-line{
  width: 100%
 }
 .checkboxes{
  margin: 0
 }
 .regions{
  width: 100%;
 }
}
