/* REGISTRATION */
:root {
  --dark: #374151;
  --darker: #1F2937;
  --darkest: #111827;
  --light: #EEE;
  --pink: #EC4899;
  --purple: #8B5Cf6;
  --bckg: #ffffff;
  --gray: #767676;
}


.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
}

.content{
  height: 100%;
}

.form-body{
  height: 85%;
  max-width: 100%;
}


.slide-content{
  overflow:hidden;
  height: 100%;
  margin: 0 50px
}

.slide-form{
  max-width: 1000px;
  width: 100%;
  height: 100%;
  padding: 0;
}

.raport-describe-label{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}



.registration-grid {
  font-family: 'Roboto', sans-serif;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 0.8rem;
}

.label-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15%;
  background-color: var(--gray);
  border-radius: 10px 10px 0 0; 
}
.label-box p {
  font-family: 'Roboto', sans-serif;
  padding: 7px;
  margin: 0px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 35px;
  color: white;
  text-align: center;
  align-content: center;
}

.elements{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  height: 75%;
  /* width: 80%; */
  margin-top: 40px;
}
.regions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.1rem;
  width: 30%;
}

.checkboxes{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0
 }

.form-line{
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.label-container {
  display: flex;
  position: sticky;
  padding-left: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 4rem;
}

.label-container input {
  margin-bottom: 2px;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.raport-describe{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  border-radius: 5px;
  border-width: 0.5px;
  border-style: solid;
  border-color: #bababa;
  width: 90%;
  height: 80%;
  padding: 10px;
}


.raport-describe-users{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  border-radius: 5px;
  border-width: 0.5px;
  border-style: solid;
  border-color: #bababa;
  width: 90%;
  padding: 10px;
}

.deklaracje{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.deklaracje-describe-areas{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.deklaracje-box{
  width: 100%;
  margin: 10px;
  text-align: center;
}

.plexi-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.input-data{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 10px;
}

.plexi-input-label{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 5px;
}

.plexi-input{
  height: 25px;
  width: 50px;
}




.submitField{
  display: flex;
  justify-content: center;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
}


.submit {
  height: 50px;
  width: 100px;
  background-color: #ea4c4c;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit:hover,
.submit:focus {
  background-color: #c22222;
}



.checkmark {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

.label-container:hover input~.checkmark {
  background-color: #ccc;
}

.label-container input:checked~.checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.label-container input:checked~.checkmark:after {
  display: block;
}

.label-container .checkmark:after {
  left: 5px;
  top: 3px;
  width: 2px;
  height: 5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.swiper-button-prev, .swiper-button-next {
  color:rgb(182, 182, 182);
}

.swiper-button-prev:hover, .swiper-button-next:hover{
  color:#000000
}
.swiper-pagination{
  position: static;
}
.swiper-pagination-bullet-active {
  background: #000000;
}


.swiper-slide{
  border-radius: 0.4rem;
  box-shadow: inset 0px 0px 0px 1px rgb(221, 221, 221);
  box-sizing: border-box;
  background-color:  lightgray;
}


/* Desktop big */
@media (min-width:1500px) {}

/* Desktop small */
@media (min-width: 1101px) and (max-width: 1500px) {}

/* Tablet */
@media (min-width: 901px) and (max-width: 1100px) {}

/* Tablet small */
@media (min-width: 750px) and (max-width: 900px) {}

/* Mobile */
@media (max-width:750px) {

  .registration-grid{
    margin:0;
    flex-direction: column;
    align-content: center; 
  }
  .deklaracje-describe-areas{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .deklaracje-box{
    margin: 0;
    width: 80%;
  }
  
  .raport-describe-users{
    height: 70px;
  }

  .raport-describe{
    height: 65%;
  }

  .label-box{
    height: auto;
  }
  .elements{
    margin-top: 10px;
    font-size: 13px;
    flex-direction: column;
    align-items: center;
  }
  .checkboxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    justify-items: center;
  }
  .checkmark{
    height: 12px;
    width: 12px;
  }
  .label-container .checkmark:after {
    left: 4px;
    top: 1px;
  }
  .label-container{
    margin-bottom: 5px;
  }
  .regions{
    display: block;
    width: auto;
  }
  .form-line{
    width: 95%;
  }
  .slide-content{
    margin: 0px 0px;
  }
}
