:root {
    --darkest: #111827;

    --bckg: #ffffff;
    --bridge: #d2b43b;
    --fntColor: #000000;
    --brdr: #1f1f1f;

    --full: #ca1717;
    --empty: #817c7c;
    --glow: #000000;

    --btn: #d2b43b;
    --border: #000000;
    --btnTxt: #030303;
    --fntWeight: 300;

  }

body {
    --top-row-height: 60px;
    margin-top: 100px;
}

/* Mobile */
@media (max-width:600px) {
   
    
}

/* Tablet */
@media (min-width:600px) {
  
}






/* Desktop */
@media (min-width:900px) {

    .top-row {
        z-index: 999;
        position: fixed;
        top: 0;
        left: 5%;
        width: 85%;
        height: 100px;
        font-family: 'Roboto', sans-serif;
        color: var(--fntColor);
        padding: 0.5rem;
        background-color: var(--bckg);
        box-shadow: 2px 2px 9px var(--bckg);
    }

    .top-elements {
        margin-top: 15px;
        /* max-height: 40px; */
        width: 100%;
        display: grid;
        grid-template-columns: 100px 10fr 1fr 1fr;
        justify-items: start;
        
    }

    .top-element {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        height: 100%;
    }



    .nav-btn {
        width: 100%;
        background: #00000000;
        height: 100%;
        /* display: flex;
        flex-wrap: wrap;
        align-items: center; */
        outline: none;
        cursor: pointer;
        border: none;
        padding: 0;
    }

    .material-icon {
        pointer-events: stroke;
        color:rgb(81, 81, 81);
    }

    .nav-link {
        text-align: center;
        margin: 4px;
        height: 40px;
        width: 85px;
        font-size: 18px;
        text-align: center;
        display: grid;
        align-content: stretch;
        justify-content: space-evenly;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        text-decoration: none;
        color: #929292;
        transition: font-size 0.3s;
        /* border-color: #ffffff;
        border-style: solid;
        border-width: 0 0 1px;
        border-color: rgb(255, 255, 255); */
        /* background-color: #000000; */
    }
}

.pre-nav-user{
    display: flex;
    align-items: center;
    pointer-events: stroke;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(148, 148, 148);
    font-size: 13px;
    margin-right: 3px;
}

.nav-user{
    display: flex;
    align-items: center;
    pointer-events: stroke;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 20px;
}


.logo {
    height: 45px;
    width: 45px;
    display: inline-block;
}

.nav-btn-hidden {
    display: none;
}
.nav-btn>span {

    color: #ffffff;
    font-size: calc(var(--top-row-height)/2);
}

.nav-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}


.nav {
    z-index: 1000;
}

.nav-btn:hover {
    color: #ffffff;
}

.nav-close {
    visibility: hidden;
    display: flex;
}



.nav-link:hover {
    color: rgb(254, 254, 254);
}

.nav-link:active {
    color: rgb(255, 255, 255);
}


.show-anim {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.nav-image {
    height: 15px;
}


.nav-overlay {
    z-index: 998;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(3, 3, 3, 0.6);
}

.nav-overlay-open {
    display: block;
}





/* //new */

/* .raport-info-grid {
    flex-grow: 1;
    font-family: 'Roboto', sans-serif;
    border-style: solid;
    border-color: var(--brdr);
    color: var(--fntColor);
    border-width: 0.1rem;
    border-radius: 0.2rem;
    padding: 0.5rem;
    display: flex;
    place-self: center;
    text-align: center;
    box-shadow: 2px 2px 7px var(--darkest);
    background-color: var(--bridge);
    min-width: 14rem;
} */