/* REGISTRATION */
:root {
  --dark: #374151;
  --darker: #1F2937;
  --darkest: #111827;
  --gray: #6B7280;
  --light: #EEE;
  --pink: #EC4899;
  --purple: #8B5Cf6;
  --bckg: #000000;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--bckg);
  background-color: var(--bckg);
  color: #5a5a5a;
}



/* Mobile */
@media (max-width:600px) {

  .container {
    margin-top: 1rem;
    padding-left: 5%;
    padding-right: 5%;
  }

  .label-container {
    font-size: 12px;
  }
}






/* Tablet */
@media (min-width:600px) {

  .container {
    margin-top: 1rem;
    padding-left: 10%;
    padding-right: 10%;
  }

  .label-container {
    font-size: 14px;
  }

  
}




/* Desktop */
@media (min-width:900px) {


  .container {
    padding-left: 15%;
    padding-right: 15%;
  }

  .label-container {
    font-size: 16px;
  }

}



.registration-grid {
  font-family: 'Roboto', sans-serif;
  border-style: solid;
  border-color: #c1c1c1;
  border-width: 0.1rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  box-shadow: 2px 2px 7px var(--darkest);
  background-color: #f8f8f8;
  min-height: 20rem;
  margin-bottom: 0.8rem;
}

.registration-grid h4 {
  position: relative;
  margin-bottom: 20px;
  margin-top: 0px;
}

.regions {
  margin: 0.1rem;
}

.label-container {
  display: flex;
  position: sticky;
  padding-left: 20px;
  margin-bottom: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 4rem;
}

.text-grid {
  display: grid;
  font-family: 'Roboto', sans-serif;
  border-style: solid;
  border-color: #c1c1c1;
  border-width: 0.1rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  padding-top: 5%;
  padding-bottom: 5%;;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: stretch;
  place-self: center;
  text-align: center;
  box-shadow: 2px 2px 7px var(--darkest);
  background-color: #f8f8f8;
  margin-top: 10px;
}



.form-line {
  display: grid;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.form-line-label {
  margin: 0;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 400;
  color: #000000;
  text-align: left;
}


#wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
}


div .submit {
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.submit {
  height: 50px;
  width: 100px;
  background-color: #ea4c4c;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.submit:hover,
.submit:focus {
  background-color: #c22222;
}






.label-container input {
  margin-bottom: 2px;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

.label-container:hover input~.checkmark {
  background-color: #ccc;
}

.label-container input:checked~.checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.label-container input:checked~.checkmark:after {
  display: block;
}

.label-container .checkmark:after {
  left: 5px;
  top: 3px;
  width: 2px;
  height: 5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
